/* @import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;500&display=swap");

* {
    /* font-family: 'Saira Stencil One', cursive; */
    font-family: "Saira Condensed", sans-serif;
}

body {
    background-color: darkslateblue;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::placeholder { 
  color: white;
  font-size: 36px;
  opacity: 1; 
}

:-ms-input-placeholder { 
  color: white;
  font-size: 36px;
}

::-ms-input-placeholder { 
  color: white;
  font-size: 36px;
}

#header {
    display: flex;
    flex-direction: column;
}

.App div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.App div span {
  display: flex;
  
  justify-content: center;
  border: 1px solid rgb(148, 139, 206);
  border-radius: 5px;

}

.App div span input {
    background-color: rgb(109, 63, 153);
    height: 55px;
    font-size: 16px;
    color: white;   
    border: none;
}

.App div span button {
  background-color: rgb(109, 63, 153);
  border: none;
  color: white;
  cursor: pointer;
  
}

.App div span button:hover {
  background-color: rgb(166, 122, 207);

}

#genreFilter {
    font-size: 36px;
}

.App ul {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    list-style: none;
}

.App ul li img {
    padding-left: 20px;
    padding-right: 20px;
    width: 700px;
}

.App ul li div {
    display: flex;
    justify-content: end;

}

.App ul li div h3 {
    padding-left: 20px;
    color: white;
    font-size: 40px;
}

.App ul li div h5{
    margin-left: -10px;
    color: white;
    font-weight: normal;
    font-size: 30px;

}

.App ul li {
    background-color: rgb(109, 63, 153);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
    padding-right: 5px;
    border: 3px solid rgb(148, 139, 206);
    max-width: 730px;
}

@media (min-width: 1030px) {
    .App ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .App ul li img {
        width: 400px;
    }

    .App div span input {
        height: 35px;
        font-size: 20px;
        color: white;   
        border: none;
    }

    .App div span button {
    
    }
    ::placeholder { 
        color: white;
        font-size: 20px;
        opacity: 1; 
    }

    :-ms-input-placeholder {
        color: white;
        font-size: 20px;
    }

    ::-ms-input-placeholder { 
        color: white;
        font-size: 20px;
    }

    #genreFilter {
        font-size: 20px;
    }
    #header {
        display: flex;
        flex-direction: row;
    }
    .App ul li div h3 {
        font-size: 30px;
    }
    .App ul li div h5 {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .App ul {
        grid-template-columns: repeat(3, 1fr);
    }
    .App ul li img {
        width: 350px;
    }
}
#loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;

}