@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;500&display=swap');

* {
  /* font-family: 'Saira Stencil One', cursive; */
  font-family: 'Saira Condensed', sans-serif;
}

.App ul {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    max-width: 100%;

    margin-top: 32px; */
}

.App ul {

  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  list-style: none;

}

.App ul li img {
  width: 150px;
}

.App ul li {
  
}

@media (min-width: 600px) {
  .App ul {
     grid-template-columns: repeat(2, 1fr); 

  }
  .App ul li img {
    width: 200px;
  }
}

@media (min-width: 900px) {
  .App ul { grid-template-columns: repeat(3, 1fr); }
  .App ul li img {
    width: 350px;
  }
}