@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;500&display=swap');

* {
  /* font-family: 'Saira Stencil One', cursive; */
  font-family: 'Saira Condensed', sans-serif;
}

body {
  background-color: darkslateblue;
}

.App ul {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    max-width: 100%;

    margin-top: 32px; */
}

.App ul {

  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  list-style: none;

}

.App ul li img {
  padding-left: 20px;
  padding-right: 20px;
  width: 700px;
}

.App ul li h3 {
  padding-left: 20px;
  color: white;
}


.App ul li {
  background-color: rgb(109, 63, 153);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: 20px;
  padding-right: 5px;
  border: 3px solid rgb(148, 139, 206);
  max-width: 730px;
}

@media (min-width: 1030px) {
  .App ul {
     grid-template-columns: repeat(2, 1fr); 

  }
  .App ul li img {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .App ul { grid-template-columns: repeat(3, 1fr); }
  .App ul li img {
    width: 350px;
  }
}